@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme(colors.foreground);
  background: theme(colors.background);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
